*{
    padding:0px;
    margin:0px;
    background:black;
}

h1{
    color:white;
    
}

.nav {
    position: absolute;
    bottom:200px;
    left: 20px;
}
a {
text-decoration: none;
color:rgb(247, 218, 218);
}

.company {
    position: absolute;
    left: 500px;
    top:100px;
}

p {
    color:white;
    position: absolute;
    left:480px;
    top:150px;
}

img{
    position: absolute;
    left:400px;
    top:180px;
}